// @include webfont('FF', 'filename');

.button {
	@include clearButton($font);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: currentColor;
	background-color: $violet;
	padding: 12rem 20rem;
	border-radius: 30rem;
	@include body-m();
	transition: opacity .3s;

}

.button-play {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 16rem;
	aspect-ratio: 1;
	border-radius: 50%;
	padding: 85rem 81rem;
	background: #2C2B5D url(../images/btn-play.png) 50% 50% no-repeat;
	background-size: contain;
	min-width: 267rem;
	//color: rgba($color: #000000, $alpha: 1.0);
	color: rgba($white100, .8);
	transition: opacity .3s;
}

@media only screen and (hover: hover) {
	.button {
		&:hover {
			opacity: .7;
		}
	}

	.button-play {
		&:hover {
			opacity: .7;
		}
	}
}

@media only screen and (max-width: $small) {

}
