// @include webfont('FF', 'filename');

@keyframes rotatePlayBtn {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

.button {
	@include clearButton($font);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: currentColor;
	background-color: $violet;
	padding: 12rem 20rem;
	border-radius: 30rem;
	transition: opacity .3s, color .3s, background-color .3s;
	@include body-m();
	// transition: opacity .3s;
}

.button-play {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 16rem;
	aspect-ratio: 1;
	border-radius: 50%;
	padding: 85rem 81rem;
	min-width: 267rem;
	color: rgba($white100, .8);
	background-color: #2C2B5D;
	overflow: hidden;

	svg {
		position: relative;
		z-index: 2;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		background: conic-gradient(from 180deg, #6966fe 0%, transparent 100%);
		animation: rotatePlayBtn 2s linear infinite forwards;
		animation-play-state: paused;
	}

	i {
		display: block;
		position: absolute;
		z-index: 2;
		top: 60%;
		right: -40px;
		width: 80px;
		height: 80px;
		border-radius: 50%;

		// GRADIENT WITH BLUR
		// background: radial-gradient(circle, #8A87FF -30%, #2C2B5D 65%);
		// filter: blur(10px);

		// BLUR ONLY
		background-color: #8A87FF;
		filter: blur(20px);
	}

	&::after {
		content: '';
		position: absolute;
		top: 3px;
		right: 3px;
		bottom: 3px;
		left: 3px;
		z-index: 1;
		background-color: #2C2B5D;
		border-radius: 50%;
		transition: background-color .3s;
	/* transition: color .3s;

	&::before,
	&::after {
		content: '';
		display: block;
		background-color: $yellow;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		z-index: 1;
		opacity: 0;
		transition: opacity .3s;
	}

	&::before {
		filter: blur(50rem);
		-webkit-filter: blur(50rem);
	}

	.svg-icon {
		position: relative;
		z-index: 2;

		&--icon {
			width: 105rem;
			height: 43rem;
		}

		&--text {
			width: 101rem;
			height: 38rem;
		} */
	}
}

@media only screen and (hover: hover) {
	.button {
		&:hover {
			color: $violet;
			background-color: $yellow;
		}
	}

	.button-play {
		&:hover {
			&::after {
				background-color: #242350;
			}

			&::before {
				animation-play-state: running;
/*
			color: $violet;

			&::before,
			&::after {
				opacity: 1;
 */
			}
		}
	}
}

@media only screen and (max-width: $small) {
	.button-play {
		min-width: 179rem;
		padding: 54rem 51rem;

		.svg-icon {
			&--icon {
				width: 72rem;
				height: auto;
			}

			&--text {
				width: 68rem;
				height: auto;
			}
		}
	}
}
