// @include webfont('FF', 'filename');

.footer {
	border-top: 2rem solid $white100;

	&__container {
		@include grid-container();
	}

	&__wrap {
		padding: 0 0 100rem;
	}

	&__row {
		@include grid-row();
	}

	&__col {
		padding-top: 100rem;
		position: relative;
		@include grid-col(3,12);

		&--form {
			@include grid-col(4,12);
		}

		&--socials {
			@include grid-col(2,12);
		}

		&::before {
			content: '';
			display: block;
			height: 16rem;
			width: 2rem;
			background-color: $white100;
			position: absolute;
			top: 0;
			left: 16rem;
		}
	}

	&__logos {
		display: inline-flex;
		flex-direction: column;
		gap: 12rem;
		align-items: flex-end;
	}

	&__logo {
		position: relative;
		display: inline-flex;
		flex-direction: column;
		align-items: flex-end;
		color: $pink;
		gap: 12rem;
		transition: opacity .3s;

		.svg-icon {
			width: 150rem;
			height: 54rem;
		}

		&--pz {
			&::after {
				content: '';
				position: absolute;
				top: 0rem;
				right: 0;
				bottom: 10rem;
				left: 0;
				z-index: -1;
				border-radius: 50%;
				filter: blur(30rem);
				opacity: 0.7;
				transform: rotate(15deg) scaleY(0.9);
				background-color: #8F00B3;
			}
		}

		&--rpm {
			gap: 12rem;
			color: $white100;

		}

		span {
			font-size: 9rem;
			font-weight: 400;
			color: $white100;
		}
	}

	&__logo-text {
		font-size: 12rem;
		font-weight: 400;
	}

	&__item {
		margin-top: 32rem;

		&:first-child {
			margin-top: 0;
		}
	}

	&__link {
		display: inline-block;
		font-weight: 700;
		transition: opacity .3s;
		@include body-m();
	}

	&__socials {
		/* text-align: right;

		.socials {
			flex-wrap: wrap;
		} */
	}
}

@media only screen and (hover: hover) {
    .footer {
		&__link {
			&:hover {
				opacity: .7;
			}
		}

		&__logo {
			&:hover {
				opacity: .7;
			}
		}
	}
}

@media only screen and (max-width: $small) {
    .footer {
		&__wrap {
			padding: 0 0 48rem;
		}

		&__col {
			margin-top: 48rem;
			padding-top: 0;
			@include grid-col(12,12);

			&:first-child {
				margin-top: 0;
				padding-top: 48rem;
			}

			&:not(:first-child) {
				&::before {
					display: none;
				}
			}
		}

		&__logos {
			flex-direction: row;
			justify-content: space-between;
		}

		&__logo {
			width: 220rem;
		}

		/* &__logo {
			.svg-icon {
				width: 120rem;
				height: auto;
			}

			span {
				font-size: 7rem;
			}
		} */

		&__item {
			margin-top: 32rem;
		}

		&__socials {
			.socials {
				width: 100%;
				justify-content: space-between;
			}
		}
	}
}
