.footer {
	border-top: 2rem solid $white100;

	&__container {
		@include grid-container();
	}

	&__wrap {
		padding: 0 0 100rem;
	}

	&__row {
		@include grid-row();
	}

	&__col {
		padding-top: 100rem;
		position: relative;
		@include grid-col(3,12);

		&--form {
			@include grid-col(4,12);
		}

		&--socials {
			@include grid-col(2,12);
		}

		&::before {
			content: '';
			display: block;
			height: 16rem;
			width: 2rem;
			background-color: $white100;
			position: absolute;
			top: 0;
			left: 16rem;
		}
	}

	&__logo {
		display: inline-flex;
		transition: opacity .3s;
	}

	&__item {
		margin-top: 32rem;

		&:first-child {
			margin-top: 0;
		}
	}

	&__link {
		display: inline-block;
		font-weight: 700;
		transition: opacity .3s;
		@include body-m();
	}
}

@media only screen and (hover: hover) {
    .footer {
		&__link {
			&:hover {
				opacity: .7;
			}
		}

		&__logo {
			&:hover {
				opacity: .7;
			}
		}
	}
}

@media only screen and (max-width: $small) {
    .footer {
		&__wrap {
			padding: 0 0 48rem;
		}

		&__col {
			margin-top: 48rem;
			padding-top: 0;
			@include grid-col(12,12);

			&:first-child {
				margin-top: 0;
				padding-top: 48rem;
			}

			&:not(:first-child) {
				&::before {
					display: none;
				}
			}
		}

		&__logo {
			max-width: 220rem;
		}

		&__item {
			margin-top: 32rem;
		}

		&__socials {
			.socials {
				width: 100%;
				justify-content: space-between;
			}
		}
	}
}
