// @include webfont('FF', 'filename');

.footer {
	&__container {
		@include grid-container();
	}

	&__wrap {
		padding: 100rem 0;
	}

	&__row {
		@include grid-row();
	}

	&__col {
		@include grid-col(3,12);
	}

	&__logos {
		display: inline-flex;
		flex-direction: column;
		gap: 12rem;
	}

	&__logo {
		position: relative;
		display: inline-flex;
		color: $pink;
		transition: opacity .3s;

		.svg-icon {
			width: 150rem;
			height: 54rem;
		}

		&--pz {
			&::after {
				content: '';
				position: absolute;
				top: 0rem;
				right: 0;
				bottom: 10rem;
				left: 0;
				z-index: -1;
				border-radius: 50%;
				filter: blur(30rem);
				opacity: 0.7;
				transform: rotate(15deg) scaleY(0.9);
				background-color: #8F00B3;
			}
		}

		&--rpm {
			gap: 12rem;
			color: $white100;

			span {
				font-size: 16rem;
			}
		}
	}

	&__item {
		margin-top: 48rem;

		&:first-child {
			margin-top: 0;
		}
	}

	&__link {
		display: inline-block;
		font-weight: 700;
		transition: opacity .3s;
		@include body-m();
	}

	&__socials {
		text-align: right;

		.socials {
			flex-wrap: wrap;
		}
	}
}

@media only screen and (hover: hover) {
    .footer {
		&__link {
			&:hover {
				opacity: .7;
			}
		}

		&__logo {
			&:hover {
				opacity: .7;
			}
		}
	}
}

@media only screen and (max-width: $small) {
    .footer {
		&__wrap {
			padding: 48rem 0;
		}

		&__col {
			margin-top: 48rem;
			@include grid-col(12,12);

			&:first-child {
				margin-top: 0;
			}
		}

		&__logos {
			flex-direction: row;
			justify-content: space-between;
		}

		&__logo {
			.svg-icon {
				width: 120rem;
				height: auto;
			}

			span {
				font-size: 14rem;
			}
		}

		&__item {
			margin-top: 32rem;
		}

		&__socials {
			.socials {
				width: 100%;
				justify-content: space-between;
			}
		}
	}
}
