// @include webfont('FF', 'filename');

.form {
	width: 100%;

	&__title {
		margin-bottom: 16rem;
		@include h5();
	}

	&__text {
		color: $white64;
		@include body-m();
	}

	&__agreement {
		margin-top: 12rem;
		color: $white64;
		@include caption();

		a {
			color: $white100;
			transition: opacity .3s;
		}
	}

	&__field {
		margin-bottom: 24rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&--intro {
		.form {
			&__box {
				width: 100%;
				display: flex;
				gap: 16rem;
			}

			&__field {
				margin-bottom: 0;

				&--input {
					flex-grow: 1;
				}

				&--button {
					flex-shrink: 0;
				}
			}

			&__input {
				box-shadow: 0rem 0rem 32rem 0rem #000000A3 inset;
				text-transform: uppercase;
			}

			&__button {
				color: $blue;
			}
		}
	}

	&--footer {
		.form {
			&__input {
				border: 2rem solid $white100;
				font-size: 18rem;
				padding: 13rem 16rem;
				border-radius: 14rem;
			}

			&__button {
				padding: 13rem 20rem;
				font-size: 18rem;
				font-weight: 700;
				border-radius: 14rem;
				min-height: 48rem;
			}
		}
	}

	&__input {
		width: 100%;
		padding: 36rem 30rem;
		border-radius: 30rem;
		background-color: #262631;
		@include body-m();
		@include placeholder($white64);
	}

	&__button {
		padding: 32rem 30rem;

		.svg-icon {
			width: 36rem;
			height: 32rem;
		}
	}

}

.form-message {}
.form-success {}
.form-response {}

@media only screen and (hover: hover) {
    .form {
		&__agreement {
			a {
				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}

@media only screen and (max-width: $small) {
	.form {
		&--intro {
			.form {
				&__box {
					gap: 8rem;
				}

				&__input {
					padding: 14rem 16rem;
					min-height: 48rem;
				}

				&__button {
					padding: 14rem 16rem;
					min-height: 48rem;
				}
			}
		}

		&--footer {
			.form {
				&__input {
					padding: 11rem 16rem;
					min-height: 48rem;
					font-size: 16rem;
				}

				&__button {
					width: 100%;
					color: $black;
				}
			}
		}

		&__field {
			&--controls {
				margin-top: 32rem;
			}
		}

		&__input {
			border-radius: 12rem;
		}

		&__button {
			border-radius: 12rem;

			.svg-icon {
				width: 22rem;
				height: auto;
			}
		}

		&__title {
			margin-bottom: 8rem;
		}
	}
}