// @include webfont('FF', 'filename');

.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 99;
	//transform: translateY(-100%);
	transition: transform .3s;

	/* &::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #161618E5;
		backdrop-filter: blur(7rem);
		-webkit-backdrop-filter: blur(7rem);
		opacity: 0;
		z-index: -1;
		transition: opacity .3s
	}

	&.is-scroll {
		&::before {
			opacity: 1;
		}
	}

	&.is-active {
		transform: translateY(0);
	} */

	&__container {
		@include grid-container();

		& {
			max-width: 100%;
		}
	}

	&__wrap {
		padding: 40rem 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	/* &__logo {
		display: inline-block;
		line-height: 0;
		position: relative;
		color: $pink;
		margin-right: 24rem;
		transition: opacity .3s;
		z-index: 2;

		.svg-icon {
			width: 200rem;
			height: 72rem;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 10rem;
			left: 0;
			z-index: -1;
			border-radius: 50%;
			filter: blur(30px);
			opacity: 0.7;
			transform: rotate(15deg) scaleY(0.9);
			background-color: #8F00B3;
		}
	} */

	&__logo {
		width: 200rem;
		flex-shrink: 0;
		position: relative;
		z-index: 2;

		img, video {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__nav {
		width: 100%;
		max-width: 942rem;
	}

	&__socials {
		margin-left: 24rem;
		position: relative;
		z-index: 2;
	}

	&__burger {
		display: none;
        position: relative;
        z-index: 2;
        padding: 30rem;
        width: 40rem;
        height: 40rem;
		margin-left: 16rem;

        span {
            position: absolute;
            left: 21rem;
            display: block;
            height: 2rem;
            width: 18rem;
            background-color: $blue;
            border-radius: 2rem;
            transition: top .3s .3s, transform .3s;
            transform-origin: center;

            &:nth-of-type(1) {
                top: calc(50% - 4rem);
            }

            &:nth-of-type(2) {
                top: calc(50% + 3rem);
            }
        }
	}
}

@media only screen and (hover: hover) {
	.header {
		&__logo {
			&:hover {
				opacity: .7;
			}
		}
	}
}

@media only screen and (max-width: $normal) {
	.header {
		&__logo {
			width: 140rem;
			/* .svg-icon {
				width: 140rem;
				height: auto;
			} */
		}
	}
}

@media only screen and (max-width: $medium) {
	/* .header {
		&__logo {
			.svg-icon {
				width: 80rem;
				height: 29rem;
			}
		}
	} */
}

@media only screen and (max-width: $small) {
    .header {
		&__wrap {
			padding: 16rem 0;
		}

		&__logo {
			width: 90rem;
			/* .svg-icon {
				width: 80rem;
				height: 29rem;
			} */
		}

		&__socials {
			margin-left: 16rem;
		}

		&__burger {
			display: flex;
		}
	}
}
