.homepage {
	position: relative;
	overflow: hidden;

	&__container {
		@include grid-container();
	}

	&__wrap {
		padding: 200rem 0;
	}

	&__logo {
		color: $pink;
		line-height: 0;
		text-align: center;
		margin-bottom: 100rem;

		.svg-icon {
			width: 400rem;
			height: 144rem;
		}
	}

	&__text {
		max-width: 50%;
		margin: 0 auto;
		text-align: center;
		@include body-l();
	}

	&__image {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}
}

@media only screen and (max-width: $small) {
	.homepage {
		&__wrap {
			padding: 64rem 0 140rem;
		}

		&__logo {
			margin-bottom: 32rem;

			.svg-icon {
				width: 160rem;
				height: auto;
			}
		}


		&__image {
			left: -16rem;
			right: -16rem;
		}
	}
}

@media only screen and (max-width: $xxsmall) {
	.homepage {
		&__text {
			max-width: 100%;
		}
	}
}