// @include webfont('FF', 'filename');

.intro {
	background: $black url(../images/intro-bg.png) 50% 0 no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
	position: relative;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	&__container {
		@include grid-container();
	}

	&__wrap {
		padding: 216rem 0 145rem;
		min-height: 100vh;
	}

	&__main {
		display: flex;
		width: 100%;
		align-items: center;
	}

	&__content {
		max-width: 900rem;
	}

	&__title {
		margin-bottom: 32rem;
		font-size: 200rem;
	}

	&__button {
		margin: 0 auto;
	}

	&__bottom {
		margin-top: 130rem;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__form {
		width: 100%;
		max-width: 812rem;
	}

	&__scroll {
		display: flex;
		align-items: center;
		gap: 10rem;
		margin-left: 40rem;
		@include body-m();
	}
}

@media only screen and (max-width: $small) {
	.intro {

	}
}
