.nav {
	width: 100%;
	position: relative;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.svg-icon {
			width: 100%;
			height: 100%;
		}
	}

	&__list {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}

	&__item {
		flex-grow: 1;
		width: 25%;
		//min-width: 202rem;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 14rem;
		position: relative;
		padding: 17rem 4rem;
		text-transform: uppercase;
		transform-origin: center;
		white-space: nowrap;
		transition: opacity .3s;

		.default {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 14rem;
			position: absolute;
			left: calc(50% - 12rem);
			top: 50%;
			transform: translate(-50%, -50%);
			font-family: $font;
			font-size: 12rem;
			line-height: 1;
			font-weight: 700;
			letter-spacing: 0.04em;
			color: $white100;
			transition: opacity .3s;

			.svg-icon {
				fill: #3F3F45;
				transition: opacity .3s, fill .3s;
			}

			span {
				border-bottom: 2rem solid #3F3F45;
				position: relative;
				padding-bottom: 6rem;
				bottom: -3rem;
				transition: border-color .3s;
			}
		}

		.hover {
			color: $blue;
			font-family: $fontDrukX;
			letter-spacing: .2em;
			font-size: 30rem;
			transition: opacity .3s;
			opacity: 0;
		}

		&.is-active {
			.default {
				color: $violet;

				.svg-icon {
					fill: $yellow;
				}

				span {
					border-bottom: transparent;
				}
			}
		}
	}
}

@media only screen and (hover: hover) {
	.nav {
		&__link {
			&:hover {
				.default {
					opacity: 0;
				}

				.hover {
					opacity: 1;
				}
			}
		}
	}
}

/* @media only screen and (max-width: $medium) {
	.nav {
		&__list {
			.hover {
				font-size: 24rem;
				letter-spacing: 0.2em;
			}
		}
	}
} */

@media only screen and (max-width: $medium) {
	.nav {
		position: fixed;
		top: 0;
		height: 100%;
		width: 100%;
		right: 100%;
		min-height: 100vh;
		background-color: #000;
		padding: 80rem 16rem 40rem;
		transition: transform .3s;
		z-index: 1;

		&__bg {
			display: none;
		}

		&__list {
			flex-direction: column;
			align-items: center;
		}

		&__item {
			margin-bottom: 24rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__link {
			.default {
				position: static;
				transform: translate(0, 0);
				flex-direction: column;
				font-size: 20rem;

				span {
					border-color: transparent;
				}
			}

			.hover {
				display: none;
			}
		}
	}
}
