body {
	&.is-init {
		.popup {
			display: flex;
		}
	}
}

@media only screen and (max-width: $small) {
	body {
		&.is-nav-open {
			.header {
				&__burger {
					span {
						top: calc(50% - 1rem);
						transition: top .3s, transform .3s .3s;

						&:nth-of-type(1) {
							transform: rotate(45deg);
						}

						&:nth-of-type(2) {
							transform: rotate(-45deg);
						}
					}
				}
			}

			.nav {
				transform: translateX(100%);
			}
		}
	}
}

