body {
    > .loader {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        transition: opacity .8s;
        background-color: #000;
        opacity: 0;
        pointer-events: none;
    }

    &.is-loading > .loader {
        opacity: 1;
        pointer-events: auto;
    }
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 2;
}

.main {
    @include verticalStretch();
}

.is-hidden {
    display: none;
}

.is-overflow {
    overflow: hidden;
}

.h1, .h2 {
    //@include h1();
}

.h3 {
    
}
