// $media: 'only screen and (max-width: 1440px)';
$mediaV: 1440px;

//font
/* $font = 'ALS Hauss', sans-serif;

//color

$c0 = #ffffff;
$c1 = #4599FF;
$c2 = #B7D6FB;
$c3 = #0C0C0C;
$c4 = #B7B7B7;

// easings
$easeIn = cubic-bezier(0, 0, 0.2, 1);
$easeOut = cubic-bezier(0.40, 0.00, 1.00, 1.00);
$easeInOut = cubic-bezier(0.40, 0.00, 0.20, 1.00);



$desktop = "only screen and (min-width: 1024px)"

*/

//font

$font: 'Aeonik', Roboto, Arial, Helvetica, sans-serif;
$fontDrukW: 'Druk Wide Web', Roboto, Arial, Helvetica, sans-serif;
$fontDrukX: 'Druk XCond Trial', Roboto, Arial, Helvetica, sans-serif;

//colors

$black: #121214;
$white100: #ffffff;
$white64: rgba(#ffffff, .64);
$pink: #E066FF;
$violet: #6966FF;
$yellow: #D8FF68;

//media

$large: 1440px;
$normal: 1365px;
$medium: 1199px;
$small: 1023px;
$xsmall: 767px;
$xxsmall: 460px;

:root {
	--scale: 1px;
	--grid-gap: 16rem;
    --header-min-height: 152rem;
}

@media only screen and (max-width: $small) {
	:root {
		--header-min-height: 84rem;
	}
}